[Unit]
Description=ML Platform (MLflow + Ray)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt
ExecStart=/opt/start_all.sh
ExecStop=/opt/stop_all.sh

[Install]
WantedBy=multi-user.target
