[Unit]
Description=Connection Map Regeneration Timer (every 6 hours)

[Timer]
# Regenerate connection map every 6 hours
OnCalendar=*-*-* 00/6:00:00
Persistent=true

[Install]
WantedBy=timers.target
